<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./includes/head")%>
  </head>
  <body>
    <%- include("./includes/header") %>
    <main class="flex flex-col gap-4 justify-center items-center mt-4">
      <%- include("./includes/display_table") %>
      <img
        alt="cat"
        src="https://thecatapi.com/api/images/get?format=src&type=gif"
        class="h-32"
      />
    </main>
  </body>
</html>
