* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 10px 30px;
}
ol {
  margin: 10px 30px;
}

li {
  margin: 0px 15px;
}

p {
  padding: 10px 0;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

footer a:visited {
  color: #d0d0d0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pregunta {
  background-color: #d0d0d0;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.respuesta {
  margin: 10px 30px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}
